body{
    background-color:#f0f1f6;
}
h1{
    color:#050505;
    font-size: 25px;
    /*background-color: black;*/
}
h2{
    color:rgb(18, 17, 18);
}
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(37, 37, 39)
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(80, 80, 83) 
}
image{
    max-width:25%;
    max-height:25%;
}
ol li{
    font-size: 30px;
    color:rgb(179, 111, 188)
}
ul li{
   color: rgb(10, 10, 10);
   font-weight:bold ;
  /* background-color: rgb(253, 253, 251);
   text-align: center;*/
}
.enviar{
    border-radius: 5px;
    background-color:#2ecc43 ;
    color :#f8f1ee;
}
.etiqueta{
    background-color: rgb(182, 43, 78);

    font-size:15px ;
}
.button{
    border-radius: 5px;
    background-color:#2ecc43 ;
    color :#f8f1ee;
}