:root{
    --white:#FFFFFF;
    --black:#000000;
    --purple:#6F2CFF;
    --light-purple:#EFE9F9;
    --red-heart:#A50954;
    --blue-heart:#ACD982;
    --sm:14px;
    --md: 20px;
    --lg:60px;
}
/*body{
    
}
.brochure{
    display:grid;
    grid-template-rows: auto lft auto;
    width: 100%;
    justify-items: center;
    background-color: var(--white);
}

.side{
    color:var(--black);
    text-align: center;
    font-size: var(--lg);
}
.{
  background-color:var(--p);
  color: var(--white);
  border:20px;
  border-radius:13px;
  
}